@model Librarie.Models.LibraryViewModels.LibraryViewModel
@{
   
    ViewData["Title"] = "Librarie";
}

<h2>Library</h2>
<p>Avem @Html.DisplayFor(model => model.informations.NumberOfBooks) carti in biblioteca</p>
<p>Data: @Model.informations.Date</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Author</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model.books)
        {
            <tr>
                <td>@book.id</td>
                <td>@book.title</td>
                <td>@book.author</td>
                <td>
                    @if (!book.IsBorrowed)
                    {
                        @Html.ActionLink("Borrow", "Borrow", new { id = @book.id }, new { @class = "btn btn-primary" })

                    }
                    else
                    {
                        @Html.ActionLink("Return", "Return", new { id = @book.id }, new { @class = "btn btn-warning" })//id= nume parametru primit de actiunea return
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

